@font-face{
	font-family: 'Liana';
	src: url(../fonts/liana/Liana.otf);
	font-style: normal;
	font-weight: normal;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat',Verdana,sans-serif;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.header{
	background: url(../img/book.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.header__nav{
	padding: 1rem 0;
	display: flex;
	max-width: 100%;
	align-items: center;
}

.header__menu{
	list-style-type: none;
	margin: 0;
	padding: 4px;
	display: flex;
	align-items: center;
}

.header__li{
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	margin: 0 1rem; 
	align-items: flex-end;
	margin-left: 0 auto;
}

.header__link{
	margin-left: 1rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.header__link:hover{
	text-decoration: underline;
}

.top__button{
	position: relative;
	margin: 0 0 0 15rem;
}

.center__link{
	text-decoration: none;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
	display: inline-block;
	padding: .2rem 1rem;
	text-align: center;
	background-color: #492322;
}

.top__autorize{
	padding: 10px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	background-color: #A9978A;
	border: 2px solid #8E7667;
	transition: .3s;
}

.top__autorize.show {
	visibility: visible;
	opacity: 1;
}

.top__form{
	margin-bottom: 10px;
	padding: 6px 0 4px 10px;
	background: #F6F6f6;
	border-radius: 8px;
}

.form__text{
	font-size: 15px;
	color: black;
	text-align: center;
}
.form__text:hover{
	text-decoration: underline;
	cursor: pointer;
}

.form__button{
	cursor: pointer;
	background: #f6f6f6;
	box-shadow: inset 0px 20px 20px #ffffff;
	border-radius: 8px;
	padding: 8px 14px;
	width: 70px;
	margin: 0 3.5rem;
}
.form__button:hover{
	box-shadow: inset 0px -20px 20px #ffffff;
}
.form__button:active{
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

.center__title{
	color: white;
	text-align: center;
	font-family: 'Liana';
	font-size: 10vw;
	line-height: 1.2;
	font-weight: normal;
	margin: 10rem 0;
}

.center_bottom_button{
	font-family: 'Amatic SC',cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}

.center__button{
	text-align: center;
}

.main{
	background: linear-gradient(to right, #947D6D, #55342F);
}

.flex-container{
	display: flex;
}

.card__item{
	flex: 1 1 30%;
	margin: 2rem;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	transition: 1s linear;
}
.card__item:hover{
	background-color: rgba(255,255,255, 0.5);
}

.card__img-wrap:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(255,255,255, 0.5);
}

.card__img{
	width: 100%;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	height: 400px;
	object-fit: cover;
	vertical-align: middle;
}
.card__img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.card__title{
	text-align: center;
}

.right__button{
	text-align: right;
}
.main__section{
	border-top: 1px solid rgba(255,255,255, .2);
	background: linear-gradient(to right, #947D6D, #55342F);
}

.main__section .container {
	display: flex;
	align-items: center;
}

.main__title{
	margin: 0;
	padding-top: 2rem;
	text-align: center;
	font-family: 'Liana';
	font-size: 3rem;
}

.main__text{
	margin-top: 0;
	padding: 0;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
}

.main__img{
	max-width: 50%;
	margin-left: 2rem;
}
/*
.main__quotes{
	display: flex;
}

.quotes__item{
	background-color: #00506B;
	flex: 0 0 30%;
	margin: 2rem;
	font-family: Liana, san-serif.
	font-size: 18px;
}*/

.footer{
	background-color: #38231F;
	max-width: 100%;
}

.footer__text{
	text-align: center;
}
